<div class="card">
	<div class="card-header">GIAO DIỆN QUẢN LÝ</div>
	<div class="card-body">
		<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
      <div id="scrollspyHeading1">
        <div class="panel panel-default">
          <div class="panel-heading"></div> <br>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-12">
                    <div>Ngày test</div>
                    <input ng-model="form.ngaytest" type="date" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <div>Tỉnh thành</div>
                    <select class="custom-select" ng-model="form.tinhthanh">
						<option ng-repeat="diaphuong in diaphuong" ng-value="diaphuong.name">{{diaphuong.name}}</option>
			  		</select>
                  </div>
                  <div class="form-group col-sm-6">
                    <div>Số lượng người test</div>
                    <input ng-model="form.soluongnguoitest" type="number" min="0" class="form-control" required> 
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <div>Mẫu âm tính</div>
                    <input ng-model="form.mauamtinh" type="number" min="0" class="form-control" required>
                  </div>
                  <div class="form-group col-sm-6">
                    <div>Mẫu dương tính</div>
                    <input ng-model="form.mauduongtinh" type="number" min="0" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
          </div> <br> <br>
          <div class="panel-footer text-center">
		<button ng-click="create()" class="btn btn-success">
			<b class="glyphicon glyphicon-plus"></b> Thêm
		</button>
		<button ng-click="update()" class="btn btn-warning">
			<b class="glyphicon glyphicon-save"></b> Cập nhật
		</button>
		<button ng-click="delete(form)" class="btn btn-danger">
			<b class="glyphicon glyphicon-trash"></b> Xóa
		</button>
		<button ng-click="reset()" class="btn btn-primary">
			<b class="glyphicon glyphicon-refresh"></b> Làm mới
		</button>
	</div>
        </div>
      </div>
</div>