<div xmlns:th="http://www.thymeleaf.org">
	<div class="click-closed"></div>


	<!--/ Nav Star /-->
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">PC -<span> Covid19</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li th:class="${trangchu} ? 'nav-item active' : 'nav-item' "><a th:href="@{/home}" class="nav-link">Xem thông tin</a></li>
					<th:block th:if="${#request.remoteUser}">
						<li th:class="${khaibaoyte} ? 'nav-item active' : 'nav-item' "><a th:href="@{/khaibaoyte}"
							class="nav-link">Khai báo y tế</a></li>
						<li th:class="${tiemchung} ? 'nav-item dropdown active' : 'nav-item dropdown' "><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false">Tiêm chủng</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/dangkytiemchung}">Đăng kí tiêm vaccin</a> <a class="dropdown-item"
									th:href="@{/lichhentiemchung}">Lịch hẹn tiêm chủng</a>

							</div></li>
						<li th:class="${lichsu} ? 'nav-item dropdown active' : 'nav-item dropdown' "><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false">Lịch sử</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/lichsukhaibao}">Lịch sử khai báo y tế</a> <a class="dropdown-item" th:href="@{/lichsutiem}">Lịch sử tiêm chủng</a>

							</div></li>
					</th:block>
					<li th:class="${tintuc} ? 'nav-item active' : 'nav-item' "><a th:href="@{/tintuc}"
						class="nav-link">Tin tức</a></li>
					<li th:class="${lienhe} ? 'nav-item active' : 'nav-item' "><a th:href="@{/lienhe}"
						class="nav-link">Liên hệ</a></li>
					<li class="nav-item"
						th:if="${#request.isUserInRole('PM') or #request.isUserInRole('ADMIN')}"><a
						th:href="@{/admin}" class="nav-link">Quản trị viên</a></li>
					<li class="nav-item cta" th:unless="${#request.remoteUser}"><a
						th:href="@{/home/index}" class="nav-link" data-toggle="modal"
						data-target="#modalRequest"><span>Đăng nhập</span></a></li>
					<th:block th:if="${#request.remoteUser}">
						<li th:class="${taikhoan} ? 'nav-item dropdown active' : 'nav-item dropdown' "><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"
							th:text="${#request.remoteUser}">Tài khoản</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/taikhoan/capnhat}">Cập nhật tài khoản</a> <a class="dropdown-item"
									th:href="@{/taikhoan/doimatkhau}">Đổi mật khẩu</a> <a
									class="dropdown-item" th:href="@{/security/dangxuat}">Đăng xuất</a>

							</div></li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
</div>