<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main ng-controller="home-ctrl">
		<section class="home-slider owl-carousel">
			<div class="slider-item"
				style="background-image: url('/assert/images/bg_1.jpg');">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text align-items-center"
						data-scrollax-parent="true">
						<div class="col-md-6 col-sm-12 ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<h1 class="mb-4"
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Nắm
								bắt thông tin đầy lùi covid</h1>
							<p class="mb-4"
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
								Với tình hình covid hiện nay khá căng thẳng ta nên cần phải nắm
								bắt các thông tin chính xác để mà phòng tránh...</p>
							<p
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
								<a href="#" class="btn btn-primary px-4 py-3">Tìm hiểu thêm</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item"
				style="background-image: url('/assert/images/bg_2.jpg');">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text align-items-center"
						data-scrollax-parent="true">
						<div class="col-md-6 col-sm-12 ftco-animate"
							data-scrollax=" properties: { translateY: '70%' }">
							<h1 class="mb-4"
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Nắm
								bắt thông tin đầy lùi covid</h1>
							<p class="mb-4"
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
								Với tình hình covid hiện nay khá căng thẳng ta nên cần phải nắm
								bắt các thông tin chính xác để mà phòng tránh...</p>
							<p
								data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
								<a href="#" class="btn btn-primary px-4 py-3">Tìm hiểu thêm</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="ftco-section ftco-services">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-2">
							<strong> Tình hình dịch bệnh đến hiện tại </strong>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="fa fa-bar-chart"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">Số ca mắc bệnh</h3>
								<p style="font-size: 20px">{{reports.cases}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="fa fa-bar-chart"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">Số ca khỏi bệnh</h3>
								<p style="font-size: 20px">{{reports.recovered}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-self-stretch ftco-animate">
						<div class="media block-6 services d-block text-center">
							<div
								class="icon d-flex justify-content-center align-items-center">
								<span class="fa fa-bar-chart"></span>
							</div>
							<div class="media-body p-2 mt-3">
								<h3 class="heading">Số ca tử vong</h3>
								<p style="font-size: 20px">{{reports.deaths}}</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="container-wrap mt-5">
				<div class="row d-flex no-gutters">
					<div class="col-md-8">
						<script
							src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
						<script>
						var datas;
						var day = [];
						var cases = [];
						var death = [];
						var recovered = [];
						var i = 0;
						fetch('https://static.pipezero.com/covid/data.json').then(response => response.json()).then(data => {
							 datas = data;
							 console.log(datas);
							 for( i; i < datas.overview.length; i++) {
								 day.push(datas.overview[i].date);
								 
								 cases.push(datas.overview[i].cases);
								 death.push(datas.overview[i].death);
								 recovered.push(datas.overview[i].recovered);
								};
							 console.log(cases);
							 console.log(death);
							 console.log(recovered);
							 $(document)
								.ready(
										function() {
											var ctx = $("#chart-line");
											var myLineChart = new Chart(
													ctx,
													{
														type : 'bar',
														data : {
															labels : day,
															datasets : [
																	{
																		data : cases,
																		label : "Số ca mắc bệnh",
																		borderColor : "#E33539",
																		backgroundColor : '#E33539',
																		fill : false
																	},{
																		data : recovered,
																	label : "Số ca khỏi bệnh",
																	borderColor : "#5BBD2B",
																	backgroundColor : '#5BBD2B',
																	fill : false
																},
																	
																	{
																		data : death,
																		label : "Số ca tử vong",
																		borderColor : "#363636",
																		fill : false,
																		backgroundColor : '#363636'
																	} ]
														},
														options : {
															title : {
																display : true,
																text : 'Thống kê tình hình dịch bệnh 7 ngày gần nhất'
															}
														}
													});
										});
						});
							
						</script>

						<div class="page-content page-container" id="page-content">
							<div class="padding" style="margin-left: -100px;">
								<div class="row">
									<div class="container-fluid d-flex justify-content-center">
										<div class="col-sm-12 col-md-8">
											<div class="card">
												<div class="card-body" style="height: 520px">
													<div class="chartjs-size-monitor"
														style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
														<div class="chartjs-size-monitor-expand"
															style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
															<div
																style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
														</div>
														<div class="chartjs-size-monitor-shrink"
															style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
															<div
																style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
														</div>
													</div>
													<canvas id="chart-line" width="399" height="300"
														class="chartjs-render-monitor"
														style="display: block; width: 399px; height: 300px;"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4">

						<canvas id="myChart" width="550" height="450"
							style="margin-left: -150px; margin-top: 100px;"></canvas>
						<br> <strong style="margin-left: -30px">Tỉ lệ dịch
							bệnh trong 7 ngày gần đây (%)</strong>
						<script>
						var datas;
						var tongbenh;
						var tongkhoi;
						var tongchet;
						fetch('https://static.pipezero.com/covid/data.json').then(response => response.json()).then(data => {
							 datas = data;
							 console.log(datas);
							 tongbenh = (datas.overview[0].avgCases7day * 100) / (datas.overview[0].avgCases7day + datas.overview[0].avgDeath7day + datas.overview[0].avgRecovered7day)
							 tongkhoi = (datas.overview[0].avgRecovered7day * 100) / (datas.overview[0].avgCases7day + datas.overview[0].avgDeath7day + datas.overview[0].avgRecovered7day)
							 tongchet = (datas.overview[0].avgDeath7day * 100) / (datas.overview[0].avgCases7day + datas.overview[0].avgDeath7day + datas.overview[0].avgRecovered7day)
							 var ctx = document.getElementById('myChart')
								.getContext('2d');
						var myChart = new Chart(ctx,
								{
									type : 'pie',
									data : {
										labels : [ 'tỉ lệ mắc bệnh ',
												'tỉ lệ khỏi bệnh',
												'tỉ lệ tử vong' ],
										datasets : [ {
											label : '# of Votes',
											data : [ tongbenh.toFixed(2), tongkhoi.toFixed(2), tongchet.toFixed(2) ],
											backgroundColor : [ '#E33539',
													'#5BBD2B', '#363636' ],
											borderColor : [ '#E33539', '#5BBD2B',
													'#363636' ],
											borderWidth : 1
										} ]
									},
									options : {
										scales : {
											y : {
												beginAtZero : true
											}
										}
									}
								});
						});
							
						</script>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-3">
							<strong>Tình hình dịch của các tỉnh</strong>
						</h2>
					</div>
				</div>
				<br>
				<div class="row" style="margin-top: -70px">
					<table class="table table-hover">
						<th>Tỉnh/Thành phố</th>
						<th>Tổng số ca</th>
						<th>Hôm nay</th>
						<th>Tử vong</th>
						<tr ng-repeat="location in pager.items">
							<td>{{location.name}}</td>
							<td>{{location.cases}}</td>
							<td style="color: red;">+ {{location.casesToday}}</td>
							<td>{{location.death}}</td>
						</tr>
					</table>
					<div class="card-footer text-center">
						<button ng-click="pager.first()" type="button"
							class="btn btn-primary">
							<b class="fa fa-fast-backward"></b>
						</button>
						<button ng-click="pager.prev()" type="button"
							class="btn btn-primary">
							<b class="fa fa-backward"></b>
						</button>
						<button ng-click="pager.first()" type="button"
							class="btn btn-success">{{pager.page + 1}} of
							{{pager.count}}</button>
						<button ng-click="pager.next()" type="button"
							class="btn btn-primary">
							<b class="fa fa-forward"></b>
						</button>
						<button ng-click="pager.last()" type="button"
							class="btn btn-primary">
							<b class="fa fa-fast-forward"></b>
						</button>
					</div>
				</div>
			</div>

		</section>



		<section class="ftco-gallery">
			<div class="container-wrap ">
				<div class="row no-gutters ">

					<th:block th:unless="${#request.remoteUser}">
						<div class="col-md-4 ftco-animate" style="margin-left: 17%">

							<a th:href="@{/lienhe}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(/assert/images/lienhe.png); width: 100%">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a th:href="@{/tintuc}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(https://3ssoft.vn/sites/default/files/toasoanbaodientu.jpg);">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>
					</th:block>


					<th:block th:if="${#request.remoteUser}">
						<div class="col-md-3 ftco-animate">

							<a th:href="@{/lienhe}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(/assert/images/lienhe.png); width: 100%">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>
						<div class="col-md-3 ftco-animate">
							<a th:href="@{/tintuc}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(https://3ssoft.vn/sites/default/files/toasoanbaodientu.jpg);">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>

						<div class="col-md-3 ftco-animate">
							<a th:href="@{/khaibaoyte}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(http://file.medinet.gov.vn/UploadImages/soytehcm/2020_4/15/NewFolder/hinh-1_154202015.jpg);">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>
						<div class="col-md-3 ftco-animate">
							<a th:href="@{/dangkytiemchung}"
								class="gallery img d-flex align-items-center"
								style="background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/11A02/production/_118949127_whatsubject.jpg);">
								<div
									class="icon mb-4 d-flex align-items-center justify-content-center">
									<span class="icon-search"></span>
								</div>
							</a>
						</div>
					</th:block>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-2">Tin tức</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 ftco-animate" th:each="b:  ${bl3}" th:object="${b}">
						<div class="blog-entry">
							<a class="blog-img mr-4"
									th:href="@{|/chitiettintuc?idtintuc=*{idblog}|}"> 
									<img th:src="@{|/assert/images/*{hinhanh}|}" class="img-fluid" alt=""
									style="width: 100%">
								</a>
							<div class="text d-flex py-4">
								<div class="meta mb-3">
									<div>
										<p>
												 [[*{ngaytao}]]
											</p>
									</div>
									<div>
										<p>
												 [[*{account.hoten}]]
											</p>
									</div>
									
								</div>
								<div class="desc pl-3">
									<h3 class="heading">
										<a th:href="@{|/chitiettintuc?idtintuc=*{idblog}|}">[[*{tieude}]]</a>
									</h3>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</section>


	</main>
</body>
</html>