<div class="card">

	<div class="card-body">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-5">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-2">Quản lý bài viết</h2>

					</div>
				</div>
				<form name="frm">
					<div class="row text-center">
						
						<div class="col-md-12">
						<label for="image"> <img
					ng-src="{{'/assert/images/' + form.hinhanh}}"
					style="max-width: 100%;height: 250px;" class="img-fluid" alt="...">
				</label>
						</div>
						</div>
						<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="exampleInputName">Tiêu đề bài viết</label>
								<div ng-hide="frm.txtName.$valid">Vui lòng nhập
									tiêu đề</div>
								<input name="txtName" class="form-control" id="exampleInputName"
									ng-model="form.tieude" placeholder="Nhập tiêu đề bài viết"
									required>


							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="exampleInputHang">Nội dung</label> <div ng-hide="frm.txtnoidung.$valid">Vui lòng nhập nội dung bài viết</div> 
						<textarea name="txtnoidung" class="form-control" id="exampleInputHang" ng-model="form.noidung" placeholder="Nhập nội dung bài viết" required rows="3"></textarea>
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="exampleInputTime">Ảnh bìa bài viết</label>
								
								<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Tải lên</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01" onchange="angular.element(this).scope().imageChanged(this.files)">
    <label class="custom-file-label" for="image">Chọn ảnh</label>
  </div>
</div>

							</div>
						</div>
						<div class="col-md-6">
							<div class="button-group">
								<br> <br>
								<button type="submit" id="us" class="btn btn-primary"
									ng-click="reset()">Làm mới</button>
								<button type="submit" id="create" class="btn btn-success"
									ng-click="create()">Thêm</button>
								<button type="submit" id="update" class="btn btn-warning"
									ng-click="update()">Sửa</button>
								<button type="submit" id="delete" class="btn btn-danger"
									ng-click="delete(form)">Xóa</button>

							</div>
						</div>
					</div>


				</form>

			</div>
		</section>
	</div>
</div>