<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<section class="home-slider owl-carousel">
			<div class="slider-item bread-item"
				style="background-image: url('/assert/images/bg_1.jpg');"
				data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="container" data-scrollax-parent="true">
					<div class="row slider-text align-items-end">
						<div class="col-md-7 col-sm-12 ftco-animate mb-5">
							<p class="breadcrumbs"
								data-scrollax=" properties: { translateY: '70%', opacity: 1.6}">
								<span class="mr-2"><a th:href="@{/}">Trang chủ</a></span> <span>Đăng
									ký tiêm Vaccine</span>
							</p>
							<h1 class="mb-3"
								data-scrollax=" properties: { translateY: '70%', opacity: .9}">ĐĂNG
								KÝ TIÊM VACCINE</h1>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
					<div class="col-md-7 text-center heading-section ftco-animate">
						<h2 class="mb-2" style="font-weight: bolder;">PHIẾU ĐĂNG KÝ TIÊM VACCINE COVID-19</h2>
					</div>
				</div>
					<th:block th:if="${message}">
				<div class="alert alert-success" role="alert">
  [[${message}]]
</div></th:block>
				<div class="row justify-content-center ftco-animate"
					style="border-radius: .25rem; padding: 10px; border: 1px solid rgb(231, 231, 231); box-shadow: 10px 10px 10px #b3b3b3;background-color: #FFFFFF;">
					<div class="col-md-9">
						<form th:action="@{/dangkytiemchung}" method="post"
							th:object="${dk}">


							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputname4">Họ & tên</label> <i
										th:errors="*{hoten}"></i> <input class="form-control"
										id="inputname4" th:field="*{hoten}">
								</div>
							
								<div class="form-group col-md-6">
									<label for="inputbirthday4">Ngày sinh</label><i
										th:errors="*{ngaysinh}"></i> <input type="date"
										class="form-control" id="inputbirthday4"
										th:field="*{ngaysinh}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputAddress">CMND/CCCD</label><i
									th:errors="*{cmnd}"></i> <span th:text="${tb}"></span> <input class="form-control"
									id="inputAddress" th:field="*{cmnd}">
							</div>
							
							<div class="form-group">
								<label for="inputEmail">Email</label><i
									th:errors="*{email}"></i> <input class="form-control" 
									id="inputEmail" th:field="*{email}">
							</div>


							<fieldset class="form-group row">
								<legend class="col-form-label col-sm-2 float-sm-left pt-0">Giới
									tính</legend>
								<i th:errors="*{gioitinh}"></i>
								<div class="col-sm-10">

								
									
									<div class="form-check-inline">
														<input class="form-check-input" type="radio"
															th:field="*{gioitinh}" value="1"> <label
															class="form-check-label" for="gridRadios1"> Nam </label>
													</div>
													<div class="form-check-inline">
														<input class="form-check-input" type="radio"
															th:field="*{gioitinh}" value="0"> <label
															class="form-check-label" for="gridRadios2"> Nữ </label>
													</div>
								</div>
							</fieldset>



							<div class="form-group">
								<label for="inputState">Tiền sử bệnh</label>	<i th:errors="*{tiensubenh}"></i>
								<textarea class="form-control" rows="5" th:field="*{tiensubenh}"></textarea>
							</div>


							<button type="submit" class="btn btn-primary">Đăng ký
								tiêm</button>

						</form>


					</div>
					<div class="col-md-3">
					<a href="https://www.petrolimex.com.vn/nd/tin-chuyen-nganh/petrolimex-sai-gon-nghiem-tuc-thuc-hien-thong-diep-5k-cua-bo-y-te.html">
						<img
							src="/assert/images/tiem-ngua-covid.jpg"
							style="width: 100%; height: 100%;" alt=""></a>
					</div>
				</div>
			</div>
			
			
		</section>
	</main>

</body>
</html>