<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/assert/images/bg_1.jpg');"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container" data-scrollax-parent="true">
        <div class="row slider-text align-items-end">
          <div class="col-md-7 col-sm-12 ftco-animate mb-5">
            <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                  href="index.html">Home</a></span> <span>Lịch hẹn tiêm chủng</span></p>
            <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">LỊCH HẸN TIÊM CHỦNG COVID-19</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
     <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-2" style=" font-weight: bolder;">LỊCH HẸN TIÊM CHỦNG COVID-19</h2>
        </div>
      </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">Mã phiếu tiêm</th>
						<th scope="col">Cơ sở y tế</th>
						<th scope="col">Địa chỉ</th>
						<th scope="col">Người đăng ký tiêm</th>
						<th scope="col">Đợt tiêm</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr  th:each="lichhen : ${pt}" th:object="${lichhen}">
						<th scope="row" th:text="*{idphieutiem}"></th>
						<td th:text="*{cosoyte}"></td>
						<td th:text="*{diachi}"></td>
						<td th:text="*{dangkytiemchung.hoten}"></td>
						<td th:text="*{dottiem.iddottiem}"></td>
						<td><a th:href="@{|/chitietlichtiem?idphieu=*{idphieutiem}|}" class="btn btn-primary">Xem chi tiết</a></td>
	
					</tr>
					
				</tbody>
			</table>
			
		</div></section>
	 </main>
	 
</body>
</html>