<div class="card">
	<div class="card-header">Chỉnh sửa tài khoản</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="usr">Tài khoản:</label> <input id="us"
							ng-model="form.username" type="text" class="form-control"
							required="required">
					</div>
					<div class="form-group col-sm-6">
						<label for="usr">Mật khẩu:</label> <input ng-model="form.matkhau"
							type="text" class="form-control" required="required">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="exampleFormControlSelect1">Giới tính</label> <select
							ng-model="form.gioitinh" class="form-control"
							id="exampleFormControlSelect1">
							<option ng-value="true">Nam</option>
							<option ng-value="false">Nữ</option>
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label for="usr">Họ và tên:</label> <input ng-model="form.hoten"
							type="text" class="form-control" required="required">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="usr">Email:</label> <input ng-model="form.email"
							type="text" class="form-control">
					</div>

				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="usr">Địa chỉ:</label> <input ng-model="form.diachi"
							type="text" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<label for="usr">Ngày sinh:</label><input ng-model="form.ngaysinh"
							type="date" max="{{maxdate | date: 'yyyy-MM-dd'}}" class="form-control" required="required">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="usr">Số điện thoại:</label> <input ng-model="form.sdt"
							type="text" class="form-control">
					</div>
					<div class="form-group col-sm-6">
						<label for="exampleFormControlSelect1">Trạng thái: </label> <select
							class="form-control" id="exampleFormControlSelect1"
							ng-model="form.trangthai">
							<option ng-value="true">Hoạt động</option>
							<option ng-value="false">Không hoạt động</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="show2" class="alert alert-danger" role="alert">{{thongbao2}}</div>
	<div class="card-footer text-center">
		<button id="create" ng-click="create()" type="button"
			class="btn btn-primary">
			<b class="fa fa-plus-square"></b> Create
		</button>
		<button id="update" ng-click="update()" type="button"
			class="btn btn-success">
			<b class="fa fa-upload"></b> Update
		</button>
		<button id="delete" ng-click="delete(form.username)" type="button"
			class="btn btn-danger">
			<b class="fa fa-trash"></b> Delete
		</button>
		<button ng-click="reset()" type="button" class="btn btn-info">
			<b class="fa fa-refresh"></b> Resert
		</button>
	</div>
</div>